@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

body {
    font-family: Quicksand, sans-serif;
    background-image: url(https://pixabay.com/get/g27c2784fe80b03d11f0bce250f148dd00d5e2b635be09c639aa662cc1e6b0e74f0b2ea7af000e9cbc86b672f16f50c88aa14883d89c7bcc1b416d44fa18ba83e350dbb9ee483bc81a1ff06c8158478d5_1920.jpg)
}


nav {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left:15%;
  }

.links {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: 40px;
  }
  .nav-links:hover:hover{
    background-color: rgb(255,255,255,0.2);
    border-radius: 15px;
  }
  .home {
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
  }
  .home img {
    width: 70px;
    height: 70px;
    padding: 10px;
  }


.container {
    max-width: 1200px;
    margin:auto;
    font-family: Quicksand, sans-serif;
}
.c-container{
    background-color: rgb(255,255,255,0.2);
    text-align: center;
    margin-bottom: 15px;
    border-radius: 35px;
}
h1{
    color:white;
}
.cards {
    display:flex;
    justify-content: space-around;
    align-content: flex-end;
    
}
.cards p {
    color: white;
    font-size: 19px;
    border-radius: 35px;
    background-color: rgb(0,0,0,0.7);
    padding:20px;
}
.description {
    width: 25%;
    background-color: rgb(255,255,255,0.2);
    margin-right: 15px;
    border-radius: 35px;
    padding:0px 15px;
    text-align: justify;  
}
.zero{
    border-top: 15px solid rgb(0,128,0,0.5);
}

.one{
    border-top: 15px solid rgb(124,252,0,0.5);
}
.two{
    border-top: 15px solid rgb(255,255,0,0.5);
}
.three{
    border-top: 15px solid rgb(216,0,0,0.5);
}

.description p {
    border-top: none;
}

.description h2 {
    text-align: center;
    color:white;
}


