@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

body {
    font-family: Quicksand, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('vw-beetle-g539ef641e_1920.jpg');
    background-size: cover;
    
}
li{
    color:white;
}

h2 {
    color: white;
}
h3 {
    color:white;
}
p {
    color: white;
    font-size: 19px;
}
#about p{
    text-align: left;
}


nav {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left:15%;
  }

.links {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: 40px;
  }
  .nav-links:hover{
    background-color: rgb(255,255,255,0.2);
    border-radius: 15px;
  }

  .nav-links:active{
    background-color: rgb(255,255,255,0.2);
    border-radius: 15px;
  }
 
  .home {
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
  }
  .home img {
    width: 70px;
    height: 70px;
    padding: 10px;
  }


.container {
    max-width: 1200px;
    margin:auto;
    font-family: Quicksand, sans-serif;
}
.c-container{
    background-color: rgb(255,255,255,0.2);
    text-align: center;
    margin-bottom: 15px;
    border-radius: 35px;
}
h1{
    color:white;
}
.cards {
    display:flex;
    justify-content: space-around;
    align-content: flex-end;
    
}
.cards p {
    color: white;
    font-size: 19px;
    border-radius: 35px;
    background-color: rgb(0,0,0,0.7);
    padding:20px;
    letter-spacing:2px;
}
.description {
    width: 25%;
    background-color: rgb(255,255,255,0.2);
    margin-right: 15px;
    border-radius: 35px;
    padding:0px 15px;
    text-align: left;  
}
.zero{
    border-top: 15px solid rgb(0,128,0,0.5);
}

.one{
    border-top: 15px solid rgb(124,252,0,0.5);
}
.two{
    border-top: 15px solid rgb(255,255,0,0.5);
}
.three{
    border-top: 15px solid rgb(216,0,0,0.5);
}

.description p {
    border-top: none;
}

.description h2 {
    text-align: center;
    color:white;
    font-size: 30px;
    font-weight: 700;
}
.index {
    border-radius: 35px;
    background-color: rgb(0,0,0,0.7);   
}
.about p {
    padding:30px;
    text-align: left;
}
.about h2 {
    padding-top: 25px;
}
.data {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.total {
    background-color: rgb(255,255,255,0.2);
    border-radius: 15px;
    margin-top: 30px;
    padding: 20px;
}
.total h1 {
    border-radius: 50%;
    background-color: rgb(0,0,0,0.7); 
}
.top h2 {
    padding: 30px;
}

.models {
    font-size: 20px;
    padding-left: 15px;
    
    
}

#list {
    display: none;
}

button {
    padding:10px;
    display:inline-block;
    margin-left: 20px;
}

button:hover {
    cursor:pointer;
}