<header>
<nav>
<div class="home">
<%= link_to(image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Home-icon.svg/240px-Home-icon.svg.png"), root_path) %>

</div>
<div class="nav-links">
<%= link_to "Par projektu", '/cars/about', class: "links" %>
</div>
<div class="nav-links">
<%= link_to "Tops", '/cars/top', class: "links" %>
</div>

</nav>
</header>
